.module.trends,
.dashboard-right,
.dashboard-left {
	visibility: hidden !important;
}

.content-main {
	margin-top: 50px !important;
}

.content-main .timeline-tweet-box,
.stream-item .stream-item-footer {
	display: none !important;
}

.route-home .content-main .stream-container {
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	overflow: hidden !important;
	border-top: 1px solid #e1e8ed !important;
}

.stream-item.open .stream-item-footer {
	display: block !important;
}

.tweet {
	padding: 15px !important;
}