.module.trends,
.dashboard-right,
.dashboard-left {
	visibility: hidden !important;
}

.content-main {
	margin-top: 50px !important;
}

.content-main .timeline-tweet-box {
	display: none !important;
}

.route-home .content-main .stream-container {
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	overflow: hidden !important;
	border-top: 1px solid #e1e8ed !important;
}